swagger: '2.0'
info:
  version: '2018-03-30'
  title: MTConnectAdapter
  description: MTConnect Adapter REST API 1.3.1
  license:
    name: MIT
host: smstestbed.nist.gov
basePath: /vds
schemes:
  - https
produces:
  - text/plain
paths:
  /probe:
    get:
      tags:
        - Probe
      operationId: Probe
      description: Lists this Agent’s devices and all the devices’ components and data items being collected
      responses:
        '200':
          description: Successful retrieval of the devices and their components
          schema: 
            type: object
            format: file
  '/{deviceName}/probe':
    get:
      tags:
        - Probe
      operationId: ProbeDevice
      description: Lists this Agents devices and all the devices components and data items being collected
      parameters:
        - name: deviceName
          in: path
          required: true
          description: Name of the device
          type: string
      responses:
        '200':
          description: Successful retrieval of the devices and their components
          schema: 
            type: object
            format: file
  /sample:
    get:
      tags:
        - Sample
      operationId: Sample
      summary: Retrieve the values for a component.
      parameters:
        - $ref: '#/parameters/pathParam'
        - $ref: '#/parameters/fromParam'
        - $ref: '#/parameters/countParam'
        - $ref: '#/parameters/intervalParam'
        - $ref: '#/parameters/nextSequenceParam'
      responses:
        '200':
          description: Successful values received from a component.
          schema: 
            type: object
            format: file
  '/{deviceName}/sample':
    get:
      tags:
        - Sample
      operationId: DeviceSample
      summary: Retrieve the values for a component
      parameters:
        - name: deviceName
          in: path
          required: true
          description: Name of the device
          type: string
      responses:
        '200':
          description: Successful retrieval of the devices and their components
          schema: 
            type: object
            format: file
parameters:
  pathParam:
    description: An xpath expression specifying the components and/or data items to include in the sample.
    in: query
    name: path
    required: false
    type: string
  fromParam:
    description: 'This parameter requests Events, Condition, and Samples starting at this sequence number.'
    in: query
    name: from
    required: false
    type: integer
    minimum: 0
  countParam:
    description: 'The maximum number of Events, Condition, and Samples to consider, see detailed explanation below.'
    in: query
    name: count
    required: false
    type: integer
    minimum: 1
  intervalParam:
    description: 'Samples, Events, and Condition to the client application pausing for interval milliseconds between each part.'
    in: query
    name: interval
    required: false
    type: integer
    minimum: 1
  nextSequenceParam:
    description: 'the sequence number following the largest sequence number (highest sequence number + 1) of all the Events, Condition, and Samples considered when collecting the results.'
    in: header
    name: interval
    required: false
    type: integer
    minimum: 0
  